body{ text-align:justify; color: {color:text}; font-family: 'Open Sans', sans-serif; } 
#header{
	background-color: #f7f7f7;
	height:100px;
	font-size:20px;
}

#footer{
	background-color: #f7f7f7;
	height:100px;
	font-size:12px;
}
.centered{
	background-color: #f7f7f7;
	width: 960px;
	height:650px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Open Sans', sans-serif;

}

.third{
	background-color: #f7f7f7;
	float:left;
	display:inline-block;
	width: 314px;
	height:210px;
	margin-right: 9px;
	margin-top:9px;

}
.divider{
	height:20px;
}

.nav {
	background-color: #f7f7f7;

}

.nav a{
	padding: 10px 25px 0px 0px;
	color:rgb(27, 117, 187);
	font-size:18px;
}

.nav li{
	display:inline;
}