body{ text-align:justify; color: {color:text}; font-family: 'Open Sans', sans-serif; } 
#header{
	height:100px;
	font-size:12px;
}

#footer{
	height:100px;
	font-size:12px;
}
.centered{
	width: 960px;
	height:650px;
	margin-right: auto;
	margin-left: auto;
	font-family: 'Open Sans', sans-serif;

}

.third{
	float:left;
	display:inline-block;
	width: 314px;
	height:210px;
	margin-right: 9px;
	margin-top:9px;

}
.divider{
	height:20px;
}

.nav a{
	color:rgb(27, 117, 187);
	font-size:25px;
	text-transform: uppercase;
}

.nav li{
	display:inline;
}